---
import { getCollection } from "astro:content";
import PawIcon from "../components/icons/PawIcon.astro";
const todosLosServicios = await getCollection("services");
const serviciosOrdenados = todosLosServicios.sort(
  (a, b) => a.data.order - b.data.order,
);
---

<section id="servicios" class="section-padding">
  <h2 class="text-3xl font-extrabold mb-12 text-center">Excelencia Médica</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
    {
      serviciosOrdenados.map((servicio) => (
        <div class="bg-white p-8 rounded-[2.5rem] shadow-xl border border-blue-50">
          <div class="text-4xl mb-4">{servicio.data.icon}</div>
          <h3 class="text-2xl font-extrabold text-slate-900">
            {servicio.data.title}
          </h3>
          <p class="text-slate-500 mt-4">{servicio.data.description}</p>
          <div class="mt-6 flex justify-between items-center">
            <span class="text-primary font-black text-2xl">
              ${servicio.data.price}
            </span>
            <a
              href="#contacto"
              class="bg-slate-900 text-white px-6 py-2 rounded-xl text-sm font-bold"
            >
              RESERVAR
            </a>
          </div>
        </div>
      ))
    }
  </div>
</section>
